doctype html
html(lang='en' data-theme='garden')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp")
    link(href="https://cdn.jsdelivr.net/npm/daisyui@2.51.0/dist/full.css" rel="stylesheet" type="text/css") 

    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='h-screen')
    div(class='grid grid-cols-6 gap-4 h-full')
        div(class='col-span-1 prose menu bg-base-100')
          block sidebar
            ul
              li
                a(href='/shop' class='no-underline') Home
              li
                a(href='/shop/items' class='no-underline') All items 
              li
                a(href='/shop/categories' class='no-underline') All categories 
              div(class='divider')
              li
                a(href='/shop/item/create' class='no-underline') Create new item
              li
                a(href='/shop/category/create' class='no-underline') Create new category

        div(class='col-span-5 prose justify-center align-center')
          block content
